var path = require( 'path' );
module.exports = {
    servers : [
        {
            name : 'js.tv.itc.cn',
            root : '/Users/creep/code/tv/js',
            proxy_pass : 'http://61.135.132.59',
            rewrite : function ( filename, req ) {

                if ( /\S+?(_\d+).js$/.test( filename ) ) {
                    return filename.replace( RegExp.$1, '' );
                }

                if ( /\S+?(\d+).js$/.test( filename ) ) {
                    return filename.replace( RegExp.$1, '' );
                }

                if ( /\S+(_\S+).js$/.test( filename ) ) {
                    return filename.replace( RegExp.$1, '' );
                }

                return filename;
            }
        },
        {
            name : 'css.tv.itc.cn',
            root : '/Users/creep/code/tv/css',
            proxy_pass : 'http://61.135.132.59'
        },
        {
            name : 'img.tv.itc.cn',
            root : '/Users/creep/code/tv/img',
            proxy_pass : 'http://61.135.132.59',
        },
        {
            name : 'tv.sohu.com',
            root : '/Users/creep/code/sohu',
            proxy_pass : 'http://61.135.132.59',
            rewrite : function ( filename ) {

                if ( path.extname( filename ) == '.js' && !/\.src\./i.test( filename ) ) {
                    filename = filename.replace( /^(.+)(\.js)$/, '$1.src$2' );
                }

                return filename;
            }
        }
    ]
};
